<figure>
  <img
    width="150"
    height="96"
    src="{{ "img/featured/bild_1_small.jpg" | absURL }}"
    data-source="{{ "img/featured/bild_1.jpg" | absURL }}"
    alt="Ritningar fritidshus garage hus Byggritningar bygglovsritning ByggTeknikCentrum"
  >
</figure>
<figure>
  <img width="150" height="113" src="{{ "img/featured/bild_2_small.jpg" | absURL }}"
    data-source="{{ "img/featured/bild_2.jpg" | absURL }}"
    alt="Ritningar fritidshus garage hus Byggritningar ByggTeknikCentrum">
</figure>
<figure>
  <img width="150" height="86" src="{{ "img/featured/bild_3_small.jpg" | absURL }}"
    data-source="{{ "img/featured/bild_3.jpg" | absURL }}"
    alt="Ritningar fritidshus garage hus Byggritningar ByggTeknikCentrum">
</figure>
<figure>
  <img width="150" height="110" src="{{ "img/featured/bild_4_small.jpg" | absURL }}"
    data-source="{{ "img/featured/bild_4.jpg" | absURL }}"
    alt="Ritningar fritidshus garage hus Byggritningar bygglovsritningar ByggTeknikCentrum">
</figure>
<figure>
  <img width="150" height="96" src="{{ "img/featured/bild_5_small.jpg" | absURL }}"
    data-source="{{ "img/featured/bild_5.jpg" | absURL }}"
    alt="Ritningar fritidshus garage hus Byggritningar ByggTeknikCentrum">
</figure>
