<img width="210" height="136" src="{{ "img/hus_logo.jpg" | absURL }}" alt="ByggTeknikCentrum Logo">
<section class="text">
  <h1>{{.Site.Title}}</h1>
  <div class="sub-content">
    <aside>
      Kontor: <a href="tel:+46{{ strings.TrimLeft "0" .Site.Data.contact.office }}">{{.Site.Data.contact.office}}</a>
      <br />
      Mobil: <a href="tel:+46{{ strings.TrimLeft "0" .Site.Data.contact.mobile }}">{{.Site.Data.contact.mobile}}</a>
    </aside>
    Valnäs Edsgård<br />671 93 Arvika
  </div>
</section>
