<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "ByggTeknikCentrum",
  "url" : "http://byggteknikcentrum.se",
  "logo": "<?php echo curPageURL(); ?>img/hus_logo.jpg",
  "sameAs" : [
	  "http://byggteknikcentrum.se",
	  "https://plus.google.com/117357715377146258771"
  ],
  "contactPoint": [
    {
      "@type": "ContactPoint",
      "telephone": "+46736874210",
      "contactType": "sales",
      "areaServed": [
        "SE",
        "NO"
      ],
      "availableLanguage": [
        "Swedish",
        "Norwegian"
      ]
    },
    {
      "@type": "ContactPoint",
      "telephone": "+46702300081",
      "contactType": "sales",
      "areaServed": [
        "SE",
        "NO"
      ],
      "availableLanguage": [
        "Swedish",
        "Norwegian"
      ]
    }
  ]
}
</script>

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "LocalBusiness",
  "name" : "ByggTeknikCentrum",
  "image": "<?php echo curPageURL(); ?>img/hus_logo.jpg",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Valnäs Edsgård",
    "postalCode": "671 93",
    "addressLocality": "Arvika"
  },
  "telephone": "+46702300081"
}
</script>
