<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "{{.Site.Title}}",
  "url" : "{{.Site.BaseURL}}",
  "logo": "{{ "img/hus_logo.jpg" | absURL }}",
  "contactPoint": [
    {
      "@type": "ContactPoint",
      "telephone": "+46{{ strings.TrimLeft "0" .Site.Data.contact.office }}",
      "contactType": "sales",
      "areaServed": [
        "SE",
        "NO"
      ],
      "availableLanguage": [
        "Swedish",
        "Norwegian"
      ]
    },
    {
      "@type": "ContactPoint",
      "telephone": "+46{{ strings.TrimLeft "0" .Site.Data.contact.mobile }}",
      "contactType": "sales",
      "areaServed": [
        "SE",
        "NO"
      ],
      "availableLanguage": [
        "Swedish",
        "Norwegian"
      ]
    }
  ]
}
</script>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "LocalBusiness",
  "name" : "{{.Site.Title}}",
  "image": "{{ "img/hus_logo.jpg" | absURL }}",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Valnäs Edsgård",
    "postalCode": "671 93",
    "addressLocality": "Arvika"
  },
  "telephone": "+46{{ strings.TrimLeft "0" .Site.Data.contact.mobile }}"
}
</script>
